* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 1440px;
  height: 2689px;
  margin: 0 auto;
}

div {
  display: block;
}

header {
  max-width: 1440px;
  margin: 0 auto;
}

.header_block {
  max-width: 1440px;
  margin: 0 auto;
}

.header_logo {
  width: 92px;
  height: 26px;
  padding-top: 3px;
  margin-right: 0;
}

.header_list{
  list-style-type: none;
  width: 377px;
  height: 40px;
  padding: 0;
  margin: 0 auto;
}

ul li {
  display: inline-block;
}

.top_menu {
  
}

.site_menu {
  margin-left: 564px;
  width: 377px;
  height: 40px; 
}

.nav_home {
  margin-right: 19px;
  width: 60px;
  height: 40px;
}

.nav_categories {
  margin-right: 20px;
  width: 98px;
  height: 40px;
}

.nav_about {
  margin-right: 20px;
  width: 61px;
  height: 40px;
}

.nav_contact {
  margin-right: 0;
  width: 78px;
  height: 40px;
}

.link_1 {
  display: inline-block;
  width: 39px;
  height: 20px;
  padding-top: 10px;
  font-size: 12px
  line-height: 20px;
  color: #2e2e2e;
  text-decoration:none;
}

.link_2 {
  display: inline-block;
  width: 78px;
  height: 20px;
  padding-top: 10px;
  font-size: 12px
  line-height: 20px;
  color: #2e2e2e;
  text-decoration:none;
}

.link_3 {
  display: inline-block;
  width: 41px;
  height: 20px;
  font-size: 12px
  line-height: 20px;
  padding-top: 10px;
  color: #2e2e2e;
  text-decoration:none;
}

.link_4 {
  display: inline-block;
  width: 58px;
  height: 20px;
  font-size: 12px
  line-height: 20px;
  padding-top: 10px;
  color: #2e2e2e;
  text-decoration:none;
}

.title_text {
  margin: 0 auto;
  width: 498px;
  height: 51px;    
  padding-top: -7px;
  text-align: center;
  color: #2e2e2e;
  font-weight: 498px;
  font-size: 50px;
  line-height: 51px;
}

.lights_png {
  width: 1440px;
  height: 534px;
  radius: 3px;
  margin-top: 38px;
}